<div class="container">
  <%= form_for(@command) do |f| %>
    <% if command.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(command.errors.count, "error") %> prohibited this command from being saved:</h2>

        <ul>
        <% command.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-1 field">
      </div>
      <div class="col-sm-2 field">

        <%= f.text_field :name ,placeholder:"Nom", class: "form-control" %>
      </div>
      <div class="col-sm-3 field">

        <%= f.text_field :adress ,placeholder:"Adresse", class: "form-control" %>
      </div>
      <div class="col-sm-2 field">

        <%= f.text_field :zipcode,placeholder:"Zipcode", class: "form-control" %>
      </div>
      <div class="col-sm-2 field">

        <%= f.text_field :unit,placeholder:"Nombre d'unité", class: "form-control" %>
      </div>
    </div><br>
    <div class="row">
      <div class="col-sm-1 field">
      </div>
      <% if !current_user.admin? %>

        <div class="col-sm-3 field">

          <%= f.date_select :dateEnter,placeholder:"Date de livraison (/ ASAP)", class: "form-control" %>
        </div>
        <div class="col-sm-2 field">
          de :
          <%= f.time_select :timeEnterFrom,placeholder:"Heure de début de livraison", class: "form-control" %>
        </div>
        <div class="col-sm-3 field">
          à :
          <%= f.time_select :timeEnterTo,placeholder:"Heure de fin de livraison", class: "form-control" %>
        </div>
      <% end %>
      <% if current_user.admin? %>
        <div class="col-sm-3 _field">
          Date modifié (<%= @command.dateFinal.strftime("%d/%m/%Y") %>)
          <br><br>
          <%= f.date_field :dateModif,placeholder:"Date de modification", :value => :dateFinal, class: "form-control" %>

        </div>
        <div class="col-sm-2 field">
          From (<%= @command.timeFinalFrom.strftime("%Hh%M") %>)
          <br><br>
          <%= f.time_field :timeModifFrom,placeholder:"Heure de début modifier", class: "form-control" %>
        </div>
        <div class="col-sm-3 field">
          To (<%= @command.timeFinalTo.strftime("%Hh%M") %>)
          <br><br>
          <%= f.time_field :timeModifTo,placeholder:"Heure de fin modifier", class: "form-control" %>
        </div>
        <% end %>


    </div><br>
    <div class="row">
      <div class="col-sm-1 field">
      </div>
      <div class="col-sm-6 field">
        <%= f.text_field :commentaire,placeholder:"Commentaire", class: "form-control" %>
      </div>

      <% if current_user.admin? %>
          <% if @command.statewait != true %>
            <div class="col-sm-1 check_box">
                État :
              <%= f.check_box :statewait %>  En livraison
            </div><br>
          <% else %>
            <div class="col-sm-1 check_box">
              État <br><br>
              <%= f.check_box :statedone %> Livré
            </div>
          <%end%>

          <div class="col-sm-2 action">
            <%= f.submit "Modification de commande",class: "btn btn-large btn-primary"%>
          </div>
      <% else %>

      <div class="col-sm-3 action">
        <%= f.submit "nouvelle commande",class: "btn btn-large btn-primary"%>
      </div>
      <% end %>
    </div><br><br>
  <% end %>
  <% if !current_user.admin?%>
    <h1 class="titre1">Importer des commandes par fichier csv</h1><br><br>
    <div class="row">
      <div class="col-sm-3"></div>

        <%= form_tag import_commands_path, multipart: true do %>
          <div class="col-sm-4"> <%= file_field_tag :file %></div>
          <div class="col-sm-2"><%= submit_tag "Upload Commandes",class:"btn btn-large btn-primary" %></div>
        <% end %>
      </div><br>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6"style="text-align:center;">
        <a href="https://docs.google.com/spreadsheets/d/1QwA9YBHkFblszkjqoBLU9lTwwuTPOHMoVNpyU560kM8/edit?usp=sharing">Model de fichier </a>(doit être sous format CSV, comporter les headers et comporter tous les champs remplis)
      </div>
    </div>
  <% end %>

</div>
