<div class="container">
  <div class="titre">
    <h1 class="titre1">Commandes en attente</h1>

    <br>
    <h3 class="titre2"></h3> <h1 class="titre3"> <%= @prixTotal %> </h1>
  </div>
  
  <% @listDate.each do |date| %>
    <h2><%= date.strftime("%d/%m/%Y") %> </h2>
    <div class="media">
      <div class="media-body">
        <table class="table table-hover ">
          <thead >
            <tr>
              <th class="textcenter">Nom</th>
              <th class="textcenter">Adresse</th>
              <th class="textcenter">Zipcode</th>
              <th class="textcenter">Date</th>
              <th class="textcenter">From</th>
              <th class="textcenter">To</th>
              <th class="textcenter">Format</th>
              <th class="textcenter">Prix</th>
              <th class="textcenter">Unité</th>
              <th class="textcenter">Commentaire</th>
              <th class="textcenter">État</th>
              <th class="textcenter"></th>

              <% if current_user.admin == true %>
                <th class="textcenter">User</th>
              <% end %>
              <th colspan="4"></th>
            </tr>
          </thead>
          <% @commands.each do |command| %>
          <tbody  >

              <% if  command.dateFinal.strftime("%d/%m/%Y") == date.strftime("%d/%m/%Y")%>
                <% if command.dateFinal > Date.today %>
                  <tr class="active text-center" id='<%=command.id%>'>
                <% elsif command.dateFinal.strftime("%d/%m/%Y") == DateTime.now.strftime("%d/%m/%Y") %>
                  <tr class="warning text-center " id='<%=command.id%>'>
                <% else %>
                  <tr class="danger text-center " id='<%=command.id%>'>
                <% end %>
                  <td><%= command.name %></td>
                  <td><%= command.adress %></td>
                  <td><%= command.zipcode %></td>
                  <td><%= command.dateFinal.strftime("%d/%m/%Y") %></td>
                  <td><%= command.timeFinalFrom.strftime("%Hh%M")   %></td>
                  <td><%= command.timeFinalTo.strftime("%Hh%M")  %></td>
                  <% if command.asap != nil %>
                    <td>ASAP</td>
                  <% else %>
                    <td> </td>
                  <% end %>
                  <td><%= command.price %></td>
                  <td><%= command.unit %></td>
                  <td>
                    <% if command.commentaire? %>

                    <div class='user'><span class="glyphicon glyphicon-eye-open"></span>
                      <div class='popup'><%= command.commentaire %></div>
                    </div>
                    <% end %>
                  </td>
                  <% if command.statewait != true && command.statedone != true %>
                    <td>En attente</td>
                  <% end %>
                  <% if command.statewait == true && command.statedone != true %>
                    <td>En livraison</td>
                  <% end %>
                  <% if command.statedone == true %>
                    <td>Livré</td>
                  <% end %>
                  <td>
                    <%= form_for(command) do |f| %>
                      <%= f.check_box :statewait %>
                    <%end%>
                  </td>
                  <% if current_user.admin == true %>
                    <td><%= command.usercommand%></td>
                  <% end %>

                  <% if (command.statewait != true && command.statedone != true) || current_user.admin == true %>
                    <td><%= link_to '', edit_command_path(command), class:'glyphicon glyphicon-edit' %></td>
                    <td class='destroy' >lala<span class='glyphicon glyphicon-remove'></span></td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div> <br>
  <% end %>
  <br><br>

</div>
