<!DOCTYPE html>
<html>
  <head>
    <title>Olvo</title>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="zgVcsI_tM6INxSZXoWQfA50fHO9Etppg2L2kxa_-jEk" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <style>
    a {
      color: #404040;
      text-decoration: none;
      font-weight: bold;
    }
    header img {
      margin: 2em 0 0 2em;
      width: 17%;
      min-width: 180px;
      max-width: 200px;
    }
    ul {
      color: #404040;
      float: right;
      padding-top: 25px;
      margin-right: 20px;
      display: block;
      font-size: 1em;
      text-transform: uppercase;
    }
    ul:hover li {
      opacity: 1;
    }
    ul:hover li:nth-child(2) {
      transition: opacity 0.7s;
    }
    ul:hover li:nth-child(3) {
      transition: opacity 1.4s;
    }
    ul:hover li:nth-child(4) {
      transition: opacity 2.1s;
    }
    ul:hover li:nth-child(5) {
      transition: opacity 2.8;
    }
    ul li {
      padding-right: 18px;
      display: block;
      opacity: 0;
      transition: opacity 0.4s;
      margin-top: 5px;
    }
    ul li:first-child {
      background-position: right;
      background-size: 8px;
      opacity: 1;
      background-repeat: no-repeat;
    }
    ul li:hover {
      animation: bounce 0.5s;
    }
    @keyframes bounce {
      0%,
      20%,
      60%,
      100% {
        -webkit-transform: translatey(0);
        transform: translatey(0);
      }
      40% {
        -webkit-transform: translatey(-2px);
        transform: translatey(-2px);
      }
      80% {
        -webkit-transform: translatey(-1px);
        transform: translatey(-1px);
      }
    }
    #loginBlock {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 250px;
    }
    #login-block button {
      margin-top: 1.8em;
    }
    .titre1{
      text-align: center;
    }
    .titre2{
      text-align: center;
      margin-left: 150px;
    }
    .titre3 {
      text-align: center;
      font-size: 10em;
      font-weight: bold;
    }
    .textcenter{
      text-align: center;
    }
    .popup {
      height: auto;
      width: auto;
      max-width: 200px;
      text-align: left;
      vertical-align:middle;
      background-color: #e1e1e1 ;
      opacity: 0.7;
      filter: alpha(opacity=50);
      color: black;
      display: none;
      padding-top: 10px;
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 10px;
      position: absolute;
      border-style: groove;
      border-radius: 15px 15px 15px 15px;
    }

  </style>

  <body>
    <header>
      <img ><%= image_tag "logo.svg" %></img>

      <% if user_signed_in? %>

        <ul>
          <li><a><%= current_user.username %></a></li>
            <% if !current_user.admin? %>
              <li><%= link_to 'Nouvelle commande', new_command_path%></li>
            <% end %>
            <li><%= link_to'Commandes en attente', commands_path %></li>
            <li><%= link_to'Commandes du mois', edit_user_registration_path %></li>
            <li><%= link_to'Historique de commandes', commands_historique_path %></li>
            <% if current_user.admin? %>
              <li><%= link_to'Commandes du jour', today_commands_path %></li>
              <li><%= link_to'Commandes de la semaine', week_commands_path %></li>
              <li><%= link_to('Gestion des utilisateurs', rails_admin_path) %></li>
            <% end %>
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        </ul>
        <% if flash[:notice] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
        <% elsif flash[:error] %>
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:error] %>
          </div>
        <% elsif flash[:alert] %>
          <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
          </div>
        <% end %>
      <%else%>
        <div id="loginBlock">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div style="text-align:center;">
          		<label for="login">Login</label>
          	</div>
            <div class="field"><br />
              <%= f.email_field :email,placeholder: "email", autofocus: true, class: "form-control"  %>
            </div>

            <div class="field"><br>
              <%= f.password_field :password,placeholder:"mot de passe", autocomplete: "off", class: "form-control"  %>
            </div>
            <br>
            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <label>  se rappeler de moi</label>
              </div>
            <% end %><br>
            <div class="buttonConexion" style="text-align:center;">
              <%= f.submit "Connexion", class:'btn btn-warning btn-sm' %>
            </div>
          <% end %>
        </div>
        <% end %>
    </header>




    <%= yield %>
  </body>
</html>
